html {
  -ms-touch-action: manipulation;
  /* IE 10  */
  touch-action: manipulation;
  /* IE 11+ */
}

* {
  font-family: 'Work Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  transition: filter 0.3s;
}

html,
body {
  overflow: hidden;
  position: relative;
  background: #25D7FD;
  transition: background 0.3s;
}

header {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: white;
  z-index: 3;
  box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.15);
  transition: background 0.3s;
}

.HideHeader {
  top: -45px;
  opacity: 0;
}

#HeaderTitle {
  font-size: 18px;
  margin: 0;
  color: #25d7fd;
  font-weight: 400;
  padding: 12px 0;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  display: block;
}

#HeaderMenuIcon {
  font-size: 30px;
  color: #25d7fd;
  padding: 7px;
  padding-right: 10px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 0;
  display: none;
}

#HeaderExtraButton {
  float: right;
  display: block;
  width: 50px;
  text-align: center;
  position: absolute;
  right: 0px;
  height: 100%;
  line-height: 46px;
  top: 0;
  color: lightgray;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  display: none;
  transform-origin: 49% 49%;
}

.RotateIcon {
  animation-name: Rotate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#HeaderBackIcon {
  float: left;
  font-size: 25px;
  color: white;
  padding: 10.5px;
  padding-left: 10px;
  display: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

#HeaderLogo {
  width: 190px;
  margin: 0 auto;
  display: block;
  padding-top: 7px;
}

button:disabled {
  background: lightgray !important;
  letter-spacing: 2px !important;
  cursor: default;
}

#ButtonDisabledText {
  text-align: center;
  display: block;
  color: lightgray;
  font-weight: 500;
  font-size: 13px;
  padding-top: 5px;
  display: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  /*max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  */
}

#BodyScaleDiv {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  left: 00px;
  transition: all 0.4s;
  transform-origin: left;
}

.BodyScaleDivOpen {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  animation-name: OpenBodyAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.BodyScaleDivClose {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  animation-name: CloseBodyAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes OpenBodyAnimation {
  from {
    transform: none;
    left: 0px;
  }
  to {
    transform: scale(0.9);
    left: 275px;
  }
}

@keyframes CloseBodyAnimation {
  from {
    transform: scale(0.9);
    left: 275px;
  }
  to {
    transform: none;
    left: 0px;
  }
}

*:focus {
  outline: none;
}

button {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90%;
  max-width: 350px;
  height: 45px;
  background: #25D7FD;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

button i {
  position: relative;
  top: 6px;
  left: 5px;
  margin-top: -5px;
}

.link {
  display: block;
  text-align: center;
  color: dimgray;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  text-decoration: none;
}

.link:active {
  color: #25D7FD;
}

.link:hover {
  color: #25D7FD;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  color: #25D7FD;
}

h2 {
  width: 95%;
  margin: 0 auto;
  font-size: 23px;
  text-align: center;
  color: #25D7FD;
  margin-top: 70px;
  font-weight: 400;
}

h3 {
  text-align: center;
  color: dimgray;
  font-weight: 500;
  margin-top: -10px;
}

h4 {
  width: 95%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  color: dimgray;
  margin-top: 4px;
  font-weight: 300;
  line-height: 140%;
}

p {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  font-size: 15px;
  line-height: 135%;
  max-width: 400px;
}

.InputDiv {
  width: 85%;
  max-width: 350px;
  margin: 0 auto;
  height: 40px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: #dff7fe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.InputIcon {
  text-align: center;
  font-size: 15px !important;
  color: #265765;
  width: 30px;
  float: left;
  position: absolute;
  top: 13px;
  left: 5px;
  transition: all 0.2s;
}

.InputDiv input {
  border: none;
  font-size: 13px;
  float: left;
  padding-left: 40px;
  color: #1c414c;
  font-weight: 500;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  border-radius: 3px;
  background: #dff7fe;
  letter-spacing: 0.5px;
  border-left: solid 3px #dff7fe;
}

.InputDiv input:focus {
  border-left-color: #1c414c;
}

.InputDiv input::-webkit-input-placeholder {
  color: #1c414c;
}

.InputShort1 {
  width: 55% !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-left: 40px !important;
  letter-spacing: 0px !important;
}

.InputShort2 {
  width: 45% !important;
  padding-left: 10px !important;
  border-radius: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-left: none !important;
  letter-spacing: 0px !important;
}

.InputExtraShort1 {
  width: 37.5% !important;
  border-radius: 0px !important;
  padding-left: 40px !important;
  letter-spacing: 0px !important;
  border-left: none !important;
}

.InputExtraShort2 {
  width: 25% !important;
  border-radius: 0px !important;
  padding-left: 15px !important;
  letter-spacing: 0px !important;
  border-left: none !important;
}

.InputExtraShort3 {
  width: 37.5% !important;
  border-radius: 0px !important;
  padding-left: 15px !important;
  letter-spacing: 0px !important;
  border-left: none !important;
}

#FAQButton {
  display: inline-block;
  width: auto;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px;
  height: auto;
  font-size: 15px;
  font-weight: 700;
}

textarea {
  width: 90%;
  margin: 20px auto;
  display: block;
  max-width: 400px;
  border: none;
  padding: 15px;
  font-size: 14px;
  border-radius: 3px;
  height: 80px;
  transition: all 0.2s;
  max-height: 200px;
  resize: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-left: solid 3px #dff7fe;
}

textarea:focus {
  border-left: solid 3px #25D7FD;
  height: 100px;
}

.LargeTextArea {
  height: 130px;
}

.LargeTextArea:focus {
  height: 150px;
}

.CheckDiv {
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;
  font-size: 16px;
  height: 20px;
  color: dimgray;
}

.CheckDiv i {
  position: relative;
  top: 6px;
  margin-top: -10px;
  right: 5px;
  color: #25D7FD;
  cursor: pointer;
}

#AgreeLabel {
  width: 230px;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 15px;
}

#AgreeLabel a {
  color: gray;
}

#StartInnerDiv {
  height: 100%;
  width: 100%;
  background: #25D7FD;
  overflow: hidden;
  position: relative;
}

#StartIcon {
  height: 200px;
  width: 200px;
  font-size: 150px;
  color: white;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  transition: all 0.25s;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#StartTitle {
  font-size: 30px;
  color: white;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
  line-height: 105%;
  margin-top: 15px;
}

#StartSubtitle {
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 90%;
  max-width: 270px;
  margin-top: 15px;
  line-height: 130%;
  letter-spacing: 0.5px;
}

#StartPageDots {
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

#StartPageArrowLeft {
  color: rgba(255, 255, 255, 0.4);
  font-size: 45px;
  position: absolute;
  top: 85px;
  text-align: right;
  cursor: pointer;
}

#StartPageArrowRight {
  color: rgba(255, 255, 255, 0.4);
  font-size: 45px;
  position: absolute;
  right: 0px;
  top: 85px;
  text-align: right;
  cursor: pointer;
}

#StartPageDots b {
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  line-height: 0px;
  position: relative;
  overflow: hidden;
  transition: top 0.5s, box-shadow 0.5s;
  top: 0;
}

#StartPageDots span {
  background: rgba(255, 255, 255, 0.4);
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#StartPageDots .StartDotsSelected {
  background: white;
  border-radius: 50%;
  border: solid 3px white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -5px;
}

#StartArrow {
  display: block;
  margin: 0 auto;
  color: white;
  width: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 25px;
  position: relative;
  top: 20px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.2s;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
}

#StartArrow:active,
#StartArrow:hover {
  border-radius: 3px;
}

#StartSignUpButton {
  background: none;
  color: #25D7FD;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0px;
  max-width: 400px;
  height: 55px;
  z-index: 2;
  background: white;
  width: 90%;
  border-radius: 5px;
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
}

#StartSignUpButton:hover {}

#StartLoginButton {
  color: white;
  width: 100%;
  border-radius: 15px;
  padding: 6px 0;
  margin: 0 auto;
  font-size: 12px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: white;
}

#StartCenterDiv {
  position: relative;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 0px;
  transition: all .25s;
}

#StartSwipeIcon {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  position: relative;
  bottom: 5px;
  right: -90px;
  animation-name: StartSwipeAnimate;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 3s;
}

@keyframes StartSwipeAnimate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    right: -90px;
  }
  45% {
    opacity: 1;
    right: -90px;
  }
  90% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 0;
  }
}

#StartSwipeLine {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  height: 4px;
  width: 100px;
  margin: 0 auto;
  border-radius: 3px;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  animation-name: ShowSwipeLine;
  animation-duration: 0.2s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin-bottom: 50px;
}

@keyframes ShowSwipeLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#Start_NR_SignUpButton {
  margin-bottom: 30px;
  height: 55px;
  border-radius: 25px;
}

#Start_NR_logo {
  width: 275px;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
  margin-top: 50px;
}

.Start_NR_3Buttons {
  margin-top: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.Start_NR_3Buttons i {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 50px;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.2s;
}

.Start_NR_3Buttons:hover {
  box-shadow: none;
}

.Start_NR_3Buttons:hover i {
  width: 60px;
  background: rgba(255, 255, 255, 0.25);
}

#Start_NR_GreenButton {
  background-color: #02eda1;
}

#Start_NR_YellowButton {
  background-color: #ffc107;
}

#Start_NR_PinkButton {
  background-color: #fd25d7;
}

#StartFrameInner6Div {
  display: none;
}

#BigHeaderOuterDiv {
  background: #25D7FD;
  overflow: hidden;
  padding-bottom: 60px;
}

#BigHeaderLogo {
  width: 250px;
  display: block;
  margin: 50px auto;
}

.SignupFrameInnerDiv {
  width: 93%;
  margin: 0 auto;
  margin-top: -65px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 20px;
  position: relative;
}

#SignupLabel {
  text-align: center;
  display: block;
  color: dimgray;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 15px;
}

#AllowNoticeButton {
  letter-spacing: 0px;
  height: 50px;
  font-size: 20px;
  text-transform: none;
  font-weight: 300;
}

#AllowNoticeButton b {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}

#DontAllowNoticeButton {
  letter-spacing: 0px;
  height: 50px;
  font-size: 12px;
  background: none;
  color: lightgray;
  height: auto;
  margin-top: 10px;
  text-transform: none;
}

#DontAllowNoticeButton b {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}

#GetStartedTabDiv {
  width: 100%;
  overflow: hidden;
  background: #effbfe;
  margin-bottom: 15px;
}

#GetStartedTabDiv h1 {
  font-size: 15px;
  float: left;
  width: 50%;
  margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 7px 0;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: solid 2px #effbfe;
}

#GetStartedTabDiv h1:hover {
  letter-spacing: 3px;
}

.GetStartedTabSelected {
  border-bottom-color: #25D7FD !important;
  cursor: default !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
}

#GetStartedLoginDiv {
  display: none;
}

#BottomLoginButton {
  margin-top: 10px;
  margin-bottom: 10px;
  color: dimgray;
}

.valign {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

#GoBack {
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  display: block;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#ConfirmPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 3;
}

#ConfirmPopupInnerDiv {
  overflow: scroll;
  width: 100%;
  max-height: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

#ConfirmPopupParentDiv {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#ConfirmPopupMainTitle {
  font-size: 35px;
  color: #25d7fd;
  font-weight: 500;
  border-bottom: solid 1px rgb(235, 235, 235);
  padding-bottom: 25px;
}

.OC_ConfirmDiv {
  background: white;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
  border-top: none !important;
}

.OC_ConfirmDiv .CancelButton {
  height: 35px !important;
  line-height: 35px !important;
}

.OC_ConfirmDiv h1 {
  margin: 20px auto;
  font-size: 25px;
  font-weight: 300;
  color: black;
  width: 90%;
}

#OC_MainInfoDiv {
  padding-bottom: 15px;
  padding-top: 0px;
}

#OC_MainInfoDiv h2 {
  font-size: 25px;
  margin: 0;
  color: #25d7fd;
  width: 100%;
  padding-top: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}

#OC_MainInfoDiv h2 small {
  font-weight: 700;
  font-size: 15px;
  display: block;
  letter-spacing: 3px;
  color: gray;
  padding-top: 5px;
}

#OC_Bonus {
  width: 100%;
  display: block;
  text-align: center;
  background: #25d7fd;
  color: white;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-top: -25px;
  padding: 5px 0;
  display: none;
}

#OC_InfoDiv {
  float: right;
  width: 50%;
  line-height: 30px;
  padding-top: 5px;
}

#OC_InfoDiv label {
  width: 100%;
  display: block;
  padding-left: 10px;
  color: dimgray;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}

#OC_InfoDiv label i {
  font-size: 18px;
  padding-right: 10px;
  color: dimgray;
  position: relative;
  top: 3px;
}

#OC_DeadlineDiv {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 150%;
  margin-top: 0px;
  clear: both;
  padding-top: 25px;
  text-align: center;
  color: dimgray;
}

#OC_DeadlineDiv b {
  font-weight: 500;
  color: black;
}

#OC_ConfirmSuppliesDiv {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 92%;
  border-radius: 5px;
  margin-bottom: 15px;
}

#OC_ConfirmSuppliesDiv h1 {
  color: #25d7fd;
}

#OC_ConfirmHypoDiv {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 92%;
  border-radius: 5px;
  margin-bottom: 15px;
}

#OC_ConfirmHypoDiv h1 {
  color: red;
}

#OC_ConfirmHypoDiv div {
  max-height: 25px;
  margin-top: 20px;
}

#OC_ConfirmHypoDiv div label {
  color: dimgray;
  background: rgb(235, 235, 235);
  text-align: center;
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 13px;
}

#OC_ConfirmHypoDiv p {
  padding-bottom: 10px;
  font-size: 12px !important;
  width: 90% !important;
}

#OC_ConfirmTimeDiv {
  padding-bottom: 15px;
}

#OC_ConfirmTimeDiv h1 {
  color: #25d7fd;
}

#OC_ConfirmTimeDiv div {
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 150%;
  margin-top: 0px;
}

#OC_ConfirmTimeDiv b {
  font-weight: 600;
}

#OC_WarnConfirmDiv {
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: center;
  font-weight: 500;
}

#OC_WarnConfirmDiv i {
  color: red;
  padding-right: 5px;
  font-size: 20px;
  vertical-align: -5px;
}

#OC_ConfirmButtonDiv button {
  height: 60px;
  letter-spacing: 5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 22px;
}

#ConfirmPopupInnerDiv p {
  font-size: 12px;
  color: dimgray;
  width: 85%;
  margin-bottom: 10px;
}

#ConfirmPopupInnerDiv button {
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  max-width: 500px;
}

#ConfirmPopupInnerDiv .CancelButton {
  background: rgb(235, 235, 235);
  color: dimgray;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

#ConfirmPopupInnerDiv li {
  font-size: 13px;
  padding-right: 20px;
  line-height: 170%;
  color: dimgray;
}

#HypoPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 4;
}

#HypoPopupInnerDiv {
  background: white;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  margin-top: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#HypoPopupInnerDiv h1 {
  font-size: 30px;
  font-weight: 200;
}

#HypoPopupInnerDiv p {
  font-size: 12px;
  color: dimgray;
  width: 85%;
  margin-bottom: 10px;
}

#HypoPopupInnerDiv button {
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

#HypoPopupInnerDiv .CancelButton {
  background: rgb(235, 235, 235);
  color: dimgray;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

#PopupAlert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 4;
  overflow: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  height: 100%;
}

#PopupAlertInnerDiv {
  background: white;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  margin-top: 200px;
  opacity: 0;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#PopupAlertInnerDiv h1 {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 0px;
  color: rgb(31, 31, 31);
  font-weight: 400;
  width: 90%;
  font-size: 30px;
  line-height: 140%;
}

#PopupAlertInnerDiv h2 {
  margin: 0;
  padding: 30px 0;
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 130%;
  hyphens: auto;
}

#PopupAlertInnerDiv h3 {
  margin: 0;
  text-align: center;
  padding: 15px;
  background: rgb(240, 240, 240);
  letter-spacing: 1px;
  cursor: pointer;
  color: dimgray;


}

#PopupHTML {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 3;
}

#PopupHTMLInnerDiv {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  top: 25px;
  position: relative;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#PopupHTMLInnerDiv::-webkit-scrollbar {
  display: none;
}

#PopupHTMLClose {
  margin: 0;
  text-align: center;
  padding: 8px;
  background: rgb(235, 235, 235);
  letter-spacing: 1px;
  cursor: pointer;
  color: dimgray;
  margin-top: 15px;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  padding: 15px;
  background: rgb(240, 240, 240);
  letter-spacing: 1px;
  cursor: pointer;
  color: dimgray;
}

.PopupHTMLCloseSmall {
  padding: 6px !important;
  font-size: 12px;
}

#PopupAccepted {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 3;
}

#PopupAcceptedInnerDiv {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  top: 25px;
  position: relative;
  opacity: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#PopupAccepted::-webkit-scrollbar {
  display: none;
}

#PopupAcceptedMessageDiv {
  margin-bottom: 30px;
  display: block;
  margin-top: 20px;
}

#PopupAcceptedOptionDiv {
  display: none;
  width: 90%;
  margin: 30px auto;
}

#PopupAcceptedOptionDiv button {
  margin: 0 auto;
  width: 100%;
  background: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 25px;
  height: 70px;
  color: #25d7fd;
  margin-top: 15px;
}

#PopupAcceptedOptionDiv small {
  display: block;
  font-size: 12px;
}

#PopupAcceptedTitleLabel {
  color: gray;
  font-size: 15px;
  text-align: center;
  display: block;
}

#PopupAcceptedTextArea {
  height: 100px;
}

.SelectDiv {
  height: auto;
  width: 85%;
  max-width: 350px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 3px;
  transition: all 0.2s;
  margin-bottom: 20px;
  border: solid 1px lightgray;
}

.PullDownDiv {
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
  position: relative;
}

.PullDownDiv label {
  font-weight: 400;
  font-size: 15px;
  color: dimgray;
}

.PullDownDiv select:hover,
.PullDownDiv select:active {
  background: #14c8fe;
}

.PullDownDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 135px;
  display: inline-block;
  font-size: 15px;
  background: #25D7FD;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 3px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  transition: background 0.2s;
  cursor: pointer;
  margin-left: 10px;
  margin-right: -25px;
}

.PullDownDiv i {
  position: relative;
  left: -10px;
  color: white;
  top: 6px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#Screen {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 0px;
  z-index: 2;
  position: relative;
  position: fixed;
  overflow-x: hidden;
  transition: filter 0.3s, transform 0.3s;
  background: rgb(247, 247, 247);
}

#Screen::-webkit-scrollbar {
  display: none;
}

#ScreenSlide {
  background: rgb(247, 247, 247);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  left: 100vw;
  z-index: 2;
  position: absolute;
  transition: all 0s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
}

#ScreenSlide::-webkit-scrollbar {
  display: none;
}

#MenuMessageBadge {
  display: block;
  height: 22px;
  width: 22px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  color: gray;
  font-weight: 700;
  line-height: 22px;
  font-size: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#AOLMessageBadge {
  display: block;
  height: 22px;
  background: white;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 5px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  background: #ffc107;
  padding-left: 5px;
}

#AOLMessageBadge i {
  float: right;
  position: relative;
  padding: 0 3px;
  top: 1px;
  font-size: 18px;
}

#MAOMessageBadge {
  display: block;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -3px;
  color: #FF6F00;
  font-weight: 700;
  line-height: 20px;
  font-size: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#MenuDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  width: 275px;
  padding-right: 200px;
}

#MenuScrollDiv {
  width: 100%;
}

#MenuProfileDiv {
  width: 100%;
  margin-bottom: -10px;
}

#MenuProfileImg {
  border: solid 5px white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  display: block;
  background: rgb(240, 240, 240);
}

#MenuProfileName {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0px;
}

#MenuProfileSince {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: block;
}

#MenuProfileRatingBar {
  width: 180px;
  border: solid 2px white;
  height: 4px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 12px;
  background: linear-gradient(to right, white 90%, rgba(0, 0, 0, 0) 10%);
}

#MenuProfileRatingText {
  font-size: 9px;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

.MenuItemLarge {
  list-style: none;
  width: 90px;
  height: 90px;
  float: left;
  text-align: center;
  margin-left: 30px;
  margin-top: 35px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07)
}

.MenuItemLarge i {
  font-size: 70px;
  display: block;
  margin: 0 auto;
}

.MenuItemLarge span {
  position: absolute;
  display: block;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin-bottom: -17px;
  font-size: 9px;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.MenuItemSelected {
  background: white !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.MenuItemSmall {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: inline-block;
  margin: 0 7px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
}

.MenuItemSmall i {
  display: block;
  font-size: 27px;
  margin: 0 auto;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 40px;
}

.MenuItemSmall span {
  display: block;
  font-size: 9px;
  text-align: center;
  color: white;
  margin-top: -3px;
}

#MenuItemSmallParentDiv {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 290px;
  overflow: hidden;
}

@media only screen and (max-height:450px) {
  #MenuDiv {
    overflow-y: scroll;
  }
  #MenuScrollDiv {
    min-height: 450px;
    margin-top: 200px;
  }
}

.FrameCode {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#SignupLogo {
  width: 80%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 40px;
}

#SignUpButton {
  margin-top: 15px;
  margin-bottom: 15px;
}

#SignupTestDiv {
  margin-bottom: 20px;
  margin-top: 25px;
}

#SignupTestQuestion {
  font-size: 18px;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  color: black;
  line-height: 150%;
}

#SignupTestAnswerButtonDiv {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  height: 40px;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 30px;
}

#SignupTestAnswerButtonDiv button {
  width: calc(100% / 3);
  display: inline-block;
  float: left;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0px;
  padding: 0;
  background: #25d7fd;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  line-height: 40px;
  text-transform: none;
}

#TrainingTextDiv {
  margin-bottom: 35px;
  margin-top: 40px;
}

.TrainingTextItem {
  width: 90%;
  overflow: hidden;
  max-height: 40px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgb(240, 240, 240);
  margin: 0 auto;
  transition: all 0.5s;
}

.TrainingTextItem h1 {
  height: 40px;
  font-size: 16px;
  color: dimgray;
  font-weight: 400;
  margin: 0;
  line-height: 40px;
  text-align: left;
  padding-left: 50px;
  position: relative;
  cursor: pointer;
}

.TrainingTextItem i {
  position: absolute;
  font-size: 20px;
  left: 15px;
  line-height: 40px;
}

#TrainingTextDiv .open {
  max-height: 400px;
}

.TrainingTextItem div {
  font-size: 14px;
  text-align: justify;
  padding: 15px 20px;
}

.AnimateFlash {
  animation-name: AnimateFlash;
  animation-duration: 0.5s;
}

@keyframes AnimateFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#SignupTestAnswerButtonDiv button:nth-child(2) {
  border-right: solid 1px rgba(255, 255, 255, 0.3);
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}

#SignupTestContinueButton {
  display: none;
}

#ORBreak {
  color: dimgray;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 3px;
  border-radius: 50%;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  margin: 0 auto;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

#SignupArrow {
  display: block;
  text-align: center;
  color: #25D7FD;
  font-size: 30px;
  padding-bottom: 15px;
}

#SignUpOuterDiv {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0px;
  border-radius: 3px;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  border: solid 7px #effbfe;
  background: #dff7fe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
}

#SignupBreadcrumb {
  width: 275px;
  margin: 0 auto;
  text-align: center;
  margin-top: -35px;
  margin-bottom: 25px;
}

#SignupBreadcrumb i {
  background: #66e3fd;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 19px;
  color: white;
  margin: 0 5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  z-index: 2;
}

#SignupBreadcrumb .Done {
  background: white;
  color: #25d7fd;
}

#SignupBreadcrumbLine {
  height: 2px;
  width: 85%;
  background: #66e3fd;
  position: relative;
  top: 17px;
  left: 15px;
  z-index: 1;
}

#SignupLoadingDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: hidden;
  z-index: 10;
  display: none;
  opacity: 0;
}

#SignupLoadingDiv .loader {
  border-top: 12px solid #25d7fd;
  border-bottom: 12px solid #25d7fd;
}

#SignupPhotoDiv {
  width: 275px;
  overflow: hidden;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  position: relative;
  background: white;
}

#SignupPhotoPreviewImg {
  height: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  float: left;
  position: absolute;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#SignupPhotoButton {
  font-size: 13px;
  letter-spacing: 1px;
  width: 225px;
  float: right;
  height: 35px;
  border-radius: 20px;
  margin-top: 9px;
  background: white;
  color: #126b7e;
  font-weight: 600;
}

#SignupSmallP {
  font-size: 10px;
  color: gray;
  width: 250px;
  margin-bottom: 20px;
  line-height: 120%;
}

#SignupDrawMap {
  height: 350px;
  ;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border: solid 5px white;
  margin-bottom: 20px;
}

#SignupClearMapButton {
  height: 15px;
  width: 100px;
  font-size: 10px;
  background: lightgray;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: 10px;
}

#MapError {
  font-size: 13px;
  text-align: center;
  display: block;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: rgba(255, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  padding: 5px;
  width: 250px;
  margin: 0 auto;
  border-radius: 3px;
  bottom: -40px;
  margin-top: -25px;
  display: none;
}

#SignupSublabel {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
  margin-top: -5px;
  width: 80%;
}

#SignupWorkRadiusText {
  text-align: center;
  display: block;
  letter-spacing: 1px;
  padding-top: 10px;
  margin-bottom: -5px;
}

#SignupTrainingDocDiv {
  padding-bottom: 35px;
  padding-top: 10px;
}

#SignupStartCounter {
  text-align: center;
  display: block;
  color: lightgray;
  padding-top: 15px;
  font-size: 12px;
  margin-bottom: -5px;
}

#SignupPayOptionDiv {
  width: 100%;
  overflow: hidden;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-top: solid 1px rgb(240, 240, 240);
}

#SignupPayOptionDiv h1 {
  font-size: 13px;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  height: 37px;
  line-height: 40px;
  border-bottom: solid;
  margin: 0;
  border-color: white;
  color: gray;
  letter-spacing: 1px;
  cursor: pointer;
}

#SignupPayOptionDiv .Selected {
  color: #25d7fd;
  border-bottom-color: #25d7fd;
  cursor: default;
}

#SignupPayDCDiv {
  margin-bottom: 30px;
  margin-top: 30px;
}

#SignupPayBADiv {
  margin-bottom: 30px;
  margin-top: 30px;
  display: none;
}

#SignupPayBACheckHelpButton {
  text-align: center;
  display: block;
  font-size: 10px;
  color: #21c1e3;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: -10px;
  margin-top: -3px;
  font-weight: 600;
}

#CheckDiv {
  width: 170px;
  background: rgb(240, 240, 240);
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 3px;
  display: none;
}

#CheckDiv h1 {
  margin: 0;
  font-size: 13px;
  color: dimgray;
  text-align: left;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px;
}

#CheckDiv .Highlight {
  background: black;
  color: white;
  padding: 1px 3px;
}

#CheckDiv label {
  font-size: 11px;
  text-align: center;
  display: block;
}

#SignupTrainingVideoDiv {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  position: relative;
  background: white;
  height: 180px;
  overflow: hidden;
  max-width: 320px;
  margin-top: 30px;
}

#SignupTrainingPlayButton {
  font-size: 100px;
  position: absolute;
  top: 40px;
  left: calc(50% - 55px);
  color: #25D7FD;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.loader {
  border: 12px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-top: 12px solid white;
  border-bottom: 12px solid white;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.3s linear infinite;
  animation: spin 1.3s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#LoadingDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 3;
  display: none;
  opacity: 0;
  transition: all 1s;
}

#LoadingDiv i {
  display: none;
  font-size: 130px;
  color: white;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.4s;
  transform: scale(0);
  width: 125px;
  position: absolute;
  left: calc(50% - 62px);
  top: calc(50% - 62px);
}

#LoadingDiv .loader {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}

#NoConnection {
  position: absolute;
  z-index: 10;
  background: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

#NoConnection i {
  font-size: 100px;
  color: lightgray;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 50px;
}

#NoConnection h1 {
  font-weight: 300;
  font-size: 30px;
  color: dimgray;
}

#NoConnection h2 {
  font-size: 15px;
  width: 80%;
  max-width: 300px;
  color: dimgray;
  margin-top: 0px;
}

#RejectionIcon {
  font-size: 150px;
  color: lightgray;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#RejectionTitle {
  color: dimgray;
  font-weight: 300;
  font-size: 30px;
}

#RejectionParagraph {
  width: 275px;
  margin: 0 auto;
  display: block;
  color: gray;
  font-size: 12px;
  line-height: 150%;
  text-align: justify;
  margin-bottom: 30px;
}

#OrderAlertsSwitchDiv {
  width: 180px;
  margin: 0 auto;
  margin-top: 0px;
  overflow: hidden;
  margin-bottom: 20px;
}

#OrderAlertsSwitchDiv h1 {
  font-size: 18px;
  font-weight: 300;
  color: gray;
  text-align: left;
  float: left;
  margin: 0;
  line-height: 110%;
}

#OrderAlertsSwitch {
  float: right;
  margin-top: 2px;
}

.GetOrdersItem {
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 53px;
  max-width: 350px;
  overflow: hidden;
  margin-top: 20px;
  background: white;
  left: 0;
  position: relative;
  border-bottom: solid 3px #bdf3fe;
  padding-right: 45px;
  box-sizing: border-box;
}

.GetOrderItemDelete {
  transition: all 0.3s;
  transition-timing-function: ease-in;
  opacity: 0;
  left: 100vw;
}

.GetOrdersItemName {
  font-size: 22px;
  color: #424242;
  font-weight: 300;
  float: left;
  width: 120px;
  text-align: left;
  padding-left: 20px;
  margin: 0;
  padding-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.GetOrdersItemName small {
  display: block;
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 7px;
}

.GetOrderItemLabel {
  width: 30px;
  display: block;
  float: right;
  text-align: center;
  border-radius: 3px;
  margin-right: 0px;
  padding: 7px 0px;
  height: 22px;
  margin-top: 8px;
  color: #999999;
}

.GetOrderItemLabel span {
  display: block;
  font-size: 18px;
  line-height: 80%;
  font-weight: 400;
}

#OrderListOutsideLine {
  width: 100%;
  background: lightgray;
  height: 1px;
  display: block;
  max-width: 250px;
  margin: 20px auto;
}

#OrderListOutsideLine label {
  font-size: 11px;
  color: gray;
  font-weight: 400;
  text-align: center;
  display: block;
  width: 120px;
  background: rgb(250, 250, 250);
  position: relative;
  top: -7px;
  margin: 0 auto;
}

.GetOrderItemLabel small {
  display: block;
  font-size: 9px;
}

.GetOrderItemBonusLabel {
  color: #25D7FD;
}

.GetOrderItemBonusLabel small {
  font-size: 10px;
  text-transform: uppercase;
}

.GetOrderItemHA {
  position: absolute;
  bottom: 0px;
  top: 10px;
  left: -9px;
  text-align: right;
  width: 22px;
  border-radius: 50%;
  overflow: hidden;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 30px;
  background: #25d7fd;
  padding-right: 0px;
}

#GetOrdersMapDiv {
  height: 250px;
  width: 90%;
  max-width: 350px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  margin-top: 60px;
  margin: 0 auto;
}

.GetOrderItemCheckmark {
  float: right;
  display: block;
  font-size: 35px;
  color: #25D7FD;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 8px;
}

.GetOrderItemCancel {
  position: absolute;
  left: 0;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  line-height: 35px;
  font-size: 27px;
  color: white;
  cursor: pointer;
  border: solid 2.5px white;
  right: 0;
  z-index: 2;
  transition: all 0.7s;
  transition-timing-function: ease-in-out;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.GetOrderItemConfirmDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 1;
  opacity: 1;
  transition: all 0.7s;
  transition-timing-function: ease-in-out;
  left: calc(100% - 50px);
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.GetOrderItemConfirmDiv button {
  width: 220px;
  height: 35px;
  border-radius: 3px;
  color: #25d7fd;
  font-size: 20px;
  letter-spacing: 2px;
  background: white;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  margin-top: 7.5px;
  position: relative;
  right: 5px;
  opacity: 0;
  transition: all 0.7s;
  transition-timing-function: ease-in-out;
  z-index: 10;
}

.GetOrderItemConfirmDiv span {
  display: block;
  font-size: 9px;
  line-height: 15px;
  color: gray;
  letter-spacing: 1px;
  text-transform: none;
}

#GetOrdersAOLAlert {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #ffc107;
  color: white;
  text-align: center;
  bottom: -40px;
  opacity: 0;
  transition: all 0.3s;
  transition-timing-function: ease;
}

#GetOrdersAOLAlert span {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: white;
  color: #ffc107;
  border-radius: 50%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

#GetOrdersAOLAlert label {
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#GetOrdersAOLAlert i {
  font-size: 25px;
  margin-left: 10px;
  position: relative;
  top: 7px;
}

@media only screen and (min-width:375px) {
  .GetOrdersItem {
    width: 335px;
  }
  .GetOrderItemLabel {
    width: 48px;
  }
}

#ActiveOrdersHTML {
  padding-top: 70px;
}

#AOListLoading {
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: 300;
  color: dimgray;
  letter-spacing: 1px;
  margin-top: 20px;
}

#AOListLoading button {
  margin-top: 15px;
  width: 220px;
  height: 37px;
  background: #ffc107;
  font-size: 15px;
}

#AOListOrderMsg {
  padding-top: 65px;
  display: block;
  width: 300px;
  font-size: 11px;
  text-align: center;
  line-height: 140%;
  margin: 0 auto;
  color: gray;
}

.AOListItemDiv {
  background: white;
  width: 275px;
  max-width: 350px;
  box-shadow: 0 2px 20px rgba(69, 49, 0, 0.15);
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 1px;
  margin-bottom: 25px;
}

.AOListName {
  font-size: 35px;
  font-weight: 300;
  color: black;
  text-align: left;
  padding-left: 20px;
  margin: 20px 0;
  margin-bottom: 15px;
  float: left;
  width: 90%;
}

.AOListDueDate {
  display: block;
  font-size: 13px;
  padding: 5px;
  letter-spacing: 0px;
  color: dimgray;
  font-weight: 400;
  padding-left: 0px;
}

#AOListOrderNumber {
  position: absolute;
  top: 0px;
  text-align: center;
  font-size: 12px;
  color: dimgray;
  letter-spacing: 1px;
  background: rgb(245, 245, 245);
  width: 90px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  left: calc(50% - 45px);
  padding: 1px;
}

.AOListOrderNum i {
  font-size: 15px;
  position: relative;
  top: 3px;
  padding-right: 3px;
}

.AOListOrderNum span {
  letter-spacing: 0px;
}

.AOListBreadcrumbDiv {
  display: block;
  width: 250px;
  margin: 15px auto;
  clear: both;
  position: relative;
  text-align: center;
}

.AOListBreadcrumbDiv span {
  width: 80%;
  background: lightgray;
  height: 2px;
  display: block;
  position: absolute;
  left: 25px;
  top: 22px;
  z-index: 1;
}

.AOListBreadcrumbDiv i {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  border-radius: 50%;
  border: solid 5px #efefef;
  background: lightgray;
  position: relative;
  z-index: 2;
  color: white;
  line-height: 32px;
  font-size: 20px;
}

.AOListBreadcrumbDiv .BreadcrumbDone {
  border: solid 5px #FFE082;
  background: #FFC107;
}

.AOListArrow {
  position: absolute;
  top: calc(50% - 25px);
  right: -25px;
  display: block;
  height: 50px;
  width: 50px;
  background: #FFAB00;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.AOListAlertMsg {
  position: absolute;
  display: block;
  background: #FF6F00;
  height: 25px;
  width: 22px;
  r: 0;
  top: 0;
  border-bottom-right-radius: 30px;
  padding-left: 3px;
  font-size: 15px;
  line-height: 22px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

#MAOTopDiv {
  height: 200px;
  width: 100%;
  background: #FFC107;
  box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

#MAOTopDiv h1 {
  text-align: left;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 200;
  margin-top: 60px;
  padding-left: 7%;
  font-size: 50px;
  margin-bottom: 0;
}

#MAOName span {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  width: auto;
  float: right;
  position: absolute;
  right: 15px;
  top: 55px;
  padding: 3px 5px;
}

#MAODueText {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
  text-align: left;
  padding-left: 3%;
  letter-spacing: 1px;
  line-height: 21px;
  height: 22px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0) 70%);
  margin-top: 18px;
}

#MAOTopDiv i {
  font-size: 13px;
  position: relative;
  top: 3px;
}

#MAOGoMsgButton {
  height: 60px;
  width: 60px;
  display: block;
  background: #FF6F00;
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  font-size: 35px;
  text-align: center;
  line-height: 60px;
  color: white;
  margin-top: -30px;
  float: right;
  margin-right: 10%;
  cursor: pointer;
  position: relative;
}

@media only screen and (max-width:375px) {
  #MAOGoMsgButton {
    margin-right: 3%;
  }
}

.MAOTasksDiv {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 350px;
  position: relative;
  display: none;
  opacity: 0;
  transition: all 0.3s;
  z-index: 3;
  background: white;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.MAOTaskItemCoverDiv {
  background: rgb(247, 247, 247);
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.75;
}

.MAOTasksItem {
  max-height: 50px;
  transition: all 0.5s;
  overflow: hidden;
  border-bottom: solid 1px rgb(235, 235, 235);
}

.MAOTaskItemHeaderDiv {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  padding-left: 20px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  color: #FFC107;
  background: rgb(247, 247, 247);
}

.MAOTaskItemHeaderDiv span {
  background: #FFAB00;
  color: white;
  height: 30px;
  width: 30px;
  display: block;
  float: left;
  text-align: center;
  line-height: 24px;
  font-style: normal;
  border-radius: 50%;
  border: solid 3px #ffd57f;
  box-sizing: border-box;
  position: relative;
  top: 10px;
  left: -10px;
  font-size: 15px;
}

.MAOTaskItemHeaderDiv .StatusIcon {
  float: right;
  display: block;
  color: gray;
  font-size: 30px;
  line-height: 50px;
  margin-right: 10px;
  pointer-events: none;
}

.MAOTasksItem.Active .StatusIcon.PulseAnimate {
  color: #FF6F00;
  animation: PulseIcon;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-duration: 1s;
}
.MAOTasksItem.Active .MAOTaskItemHeaderDiv {

  background: white;
  
}

.MAOTasksItem.Locked .StatusIcon {
  color: lightgray !important;
}
.MAOTasksItem.Locked .MAOTaskItemHeaderDiv span {
  background: lightgray;
  border-color: rgb(230, 230, 230);
}
.MAOTasksItem.Locked .MAOTaskItemHeaderDiv {
  color: lightgray;
}

@keyframes PulseIcon {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(0.87);
  }
}

.MAOTasksItemNumber {
  height: 45px;
  width: 45px;
  background: white;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  color: #FFAB00;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: -35px;
  position: relative;
  z-index: 2;
}

.MAOTasksItemTitle {
  font-size: 30px;
  font-weight: 300;
  color: dimgray;
  line-height: 45px;
  position: relative;
  text-align: left;
  padding-left: 25px;
}

.MAOTaskItemInner {
  overflow: hidden;
  box-sizing: border-box;
}

.MAOTaskItemInner button {
  background: #FFAB00;
  width: 100%;
  border-radius: 0px;
  height: 35px;
  letter-spacing: 3px;
  line-height: 35px;
}

.MAOTasksLine {
  height: 100%;
  background: lightgray;
  width: 1px;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  left: 22.5px;
}

.MAOTaskItemTextLabel {
  font-size: 11px;
  color: dimgray;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-left: -10px;
}

#MAOSpecialInstuctionsDiv {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: -25px;
  box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.12);
  padding: 15px 20px;
  box-sizing: border-box;
  display: none;
}
#MAOSpecialInstuctionsDiv h1 {
  font-size: 23px;
  font-weight: 400;
  color: #FFC107;
  margin: 0;
}
#MAOSpecialInstuctionsDiv p {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  font-style: italic;
}

#MAOPickupText {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  display: block;
  color: black;
  margin-top: 15px;
  padding: 0 10px;
}
#MAOTaskDirectionsButton {
  font-size: 14px;
  width: 180px;
  margin: 0 auto;
  border-radius: 7px;
  padding: 0px;
  height: 30px;
  line-height: 20px;
  border: solid 2px #FFC107;
  background: none;
  color: #FFC107;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}
#MAOPickupAddressLink {
  display: block;
  
}

#MAOPickupAddressLink #MAOTaskPickupImg {
  width: 90%;
  margin: 0 auto;
  height: auto;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 15px auto;
  margin-bottom: 7px;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

#MAODeliveryText {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  display: block;
  color: black;
  margin-top: 15px;
  padding: 0 10px;
}
#MAOTaskDeliveryDirectionsButton {
  font-size: 14px;
  width: 180px;
  margin: 0 auto;
  border-radius: 7px;
  padding: 0px;
  height: 30px;
  line-height: 20px;
  border: solid 2px #FFC107;
  background: none;
  color: #FFC107;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}
#MAODeliveryAddressLink {
  display: block;
  
}

#MAODeliveryAddressLink #MAOTaskDeliveryImg {
  width: 90%;
  margin: 0 auto;
  height: auto;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 15px auto;
  margin-bottom: 7px;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

#MAODetailsText {
  margin: 0;
  font-size: 15px;
  margin-top: -15px;
  font-weight: 500;
  padding-bottom: 15px;
  text-align: left;
}

#MAOTaskText {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  hyphens: auto;
}
.MAOTaskItemInner ul {
  margin-top: -10px;
  font-size: 14px;
  line-height: 140%;
}

#MAOYourWeightInput {
  width: 130px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  box-shadow: 0 4px 15px -3px rgba(0, 0, 0, 0.25);
  color: black;
  border-top: solid 2px #fa755a;
}

#MAOHypoDiv {
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.2);
  border-top: solid 5px red;
  margin-bottom: 15px;
}
#MAOHypoDiv h1 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: red;
  margin-top: 7px;
  margin-bottom: 15px;
}
#MAOHypoDiv p {
  font-size: 13px;
  width: 100%;
  padding-bottom: 5px;
}
#MAOHypoDiv b {
  display: block;
  text-align: center;
  margin-bottom: -10px;
}

#MAOTaskPictureUploadDiv {
  height: 125px;
  width: 200px;
  background: white;
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
}

#MAOTaskPictureUploadDiv img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  display: none;
}

#MAOTaskPictureUploadDiv label {
  position: relative;
  z-index: 2;
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF6F00;
  margin-top: 15px;
  letter-spacing: 1px;
}

#MAOTaskPictureUploadDiv label i {
  display: block;
  font-size: 75px;
}

#MAODetergentType i {
  font-size: 18px;
  color: #FFAB00;
  top: 4px;
  position: relative;
}

.MAOTaskLink {
  color: #FF6F00;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-top: 10px;
}
.MAOTaskLink i {
  font-size: 14px;
  position: relative;
  top: 2px;
  left: 5px;;
}

#MAOSmallButton {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #FF6F00;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -7px;
  background: rgba(255, 111, 0, 0.1);
  padding: 1px 7px;
  border-radius: 3px;
  box-sizing: border-box;

}

#MAOTaskBagCounter {
  width: 125px;
  text-align: center;
  border-radius: 50px;
  background: white;
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.2);
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}

#MAOTaskBagCounter i{
  color: #FF6F00;
  line-height: 40px;
  font-size: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  padding: 0px 8.6px;
  cursor: pointer;
  user-select: none;
}

#MAOTaskBagCounter label {
  font-size: 25px;
  width: 100%;
  display: inline-block;
  line-height: 40px;
  color: #FF6F00;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#TipSlideUpParentDiv {
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 10;
  display: none;
}
#TipSlideUpDiv {
  position: absolute;
  bottom: 0;
  background: #fd25d7;  
  color: white;
  width: 95%;
  left: 2.5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0px 20px -5px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  box-sizing: border-box;
  display: none;
}
#TipSlideUpDiv h1 {
  font-size: 22px;
  color: white;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
}
#TipSlideUpDiv div {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: justify;
  font-size: 15px;
  line-height: 150%;
}
#TipSlideUpCloseButton {
  position: absolute;
  top: -12px;
  right: 15px;
  font-size: 14px;
  height: 25px;
  width: auto;
  padding: 5px 15px;
  border-radius: 15px;
  background: white;
  color: #fd25d7;
  font-weight: 700;
  box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.3);
}
.TipSlideUpOpen {
  animation: MAOSlideUpAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  display: block !important;
  animation-direction: left;
}

.TipSlideUpClose {
  animation: MAOSlideDownAnimation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  display: block !important;
  animation-direction: right;
}

@keyframes MAOSlideDownAnimation {
  from {
    bottom: 0px;
    transform: scale(1) rotate(0deg);
  }
  to {
    bottom: -200px;
    transform: scale(0.7) rotate(-10deg);
  }
}

@keyframes MAOSlideUpAnimation {
  from {
    bottom: -200px;
    transform: scale(0.7) rotate(10deg);
  }
  to {
    bottom: 0px;
    transform: scale(1) rotate(0deg);
  }
}

.MAOTaskLabeler {
  background: white;
  padding: 10px 15px;
  margin-top: 5px;
  display: block;
  color: #FF6F00;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.15);
  border: dashed 2px #FF6F00;
  width: auto;
  min-width: 230px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
}

.MAOTaskCompleteButton {
  background: #FF6F00;
  height: 50px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 50px;
  position: relative;
  z-index: 5;
  border-radius: 0px;
}

.MAOTaskCompleteButton i {
  display: inline-block;
  line-height: 50px;
  height: 100%;
  font-size: 25px;
  margin-left: 10px;
  margin-top: -10px;
  position: relative;
  top: 7px;
}

.MAOBreadcrumbDiv {
  display: block;
  width: 210px;
  position: relative;
  text-align: center;
  margin-top: 3px;
  margin-left: calc(7% - 15px);
}

.MAOBreadcrumbDiv span {
  width: 150px;
  background: #ffd351;
  height: 2px;
  display: block;
  position: absolute;
  left: 25px;
  top: 22px;
  z-index: 1;
}

.MAOBreadcrumbDiv i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px 7px;
  border-radius: 50%;
  background: #ffd351;
  position: relative;
  z-index: 2;
  color: white;
  line-height: 30px;
  font-size: 17px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.MAOBreadcrumbDiv .BreadcrumbDone {
  border: none;
  background: white;
  color: #FFC107;
}

.MAOBreadcrumbDiv .BreadcrumbProgress {
  border: solid 4px #ffe69b;
  background: white;
  color: #FFC107;
}


#MAOWeighListDiv {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
#MAOWeighListDiv button {
  font-size: 16px;
}
#MAOWeighListDiv button i {
  font-size: 18px;
  top: 3px;
  margin-left: -5px;
}
.MAOWeighListItem {
  height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.MAOWeighListItem .MAOWeighListItemOverlayDiv {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0;
  top: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  pointer-events: none;
}
.OverlayAnimation .MAOWeighListItemOverlayDiv {
  animation: MAOWeighListItemOverlayDivAnimation;
  animation-duration: 5s;
}
@keyframes MAOWeighListItemOverlayDivAnimation{
  0% {
    top: 100%;
    opacity: 0;
  }
  10% {
    top: 0%;
    opacity: 1;
  }
  90% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
.MAOWeighListItem label, .MAOWeighListItem span {
  font-size: 12px;
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  top: 13px;
}
.MAOWeighListItem span {
  right: 35px;
  left: auto;
}
.MAOWeighListItem span b {
  color: rgb(150, 150, 150);
}

.MAOWeighListItem label:nth-child(1) {
  float: left;
}
.MAOWeighListItem input {
  border: none;
  font-size: 20px;
  color: black;
  height: 100%;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.MAOWeighListItem i {
  height: 100%;
  font-size: 18px;
  color: rgb(220, 220, 220);
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 11px;
  
}


#WeighWarningLabel {
  font-size: 13px;
  text-emphasis: center;
  color: dimgray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  line-height: 15px;
  position: relative;
  padding: 5px 0;
  padding-left: 35px;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}

#WeighWarningLabel i {
  position: absolute;
  left: 7px;
  top: 3px;
  color: red;
  font-size: 20px;
}

#PopupWeighWarn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 4;
}

#PopupWeighWarnInnerDiv {
  background: white;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.5s;
  opacity: 0;
  margin-top: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#PopupWeighWarnInnerDiv button {
  width: 100%;
  max-width: 400px;
  border-radius: 0px;
}

#PopupWeighWarnInnerDiv p {
  padding-bottom: 25px;
  color: black;
}

#PopupWeighWarnInnerDiv h1 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0px;
  color: red;
}

#PopupWeighWarnInnerDiv i {
  font-size: 100px;
  color: red;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.MAOSmallLink {
  color: #FF6F00;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 13px;
  margin-top: 7px;
  display: block;
}

.MAOSmallLink i {
  font-size: 16px;
  position: relative;
  top: 3px;
  left: 2px;
}


.MAOStepComplete {
  width: 100px;
  margin-top: 25px;
  margin-bottom: -10px;
  background: #FF6F00;
  text-align: center;
  overflow: hidden;
  border-radius: 3px;
  margin-left: -30px;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  height: 30px;
  cursor: pointer;
}

.MAOStepComplete i {
  font-size: 26px;
  color: white;
  float: left;
  line-height: 30px;
  padding-left: 4px;
}

.MAOStepComplete label {
  line-height: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  display: block;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 35px;
}

#MAORemindersDiv {}

#MAORemindersDiv b {
  font-size: 15px;
}

#MAORemindersDiv ul {
  margin-top: -10px;
  padding-left: 15px;
}

#MAORemindersDiv li {
  font-size: 12px;
  line-height: 125%;
  width: 110%;
}

#MAORemindersDiv i {
  font-size: 13px;
  color: #FFAB00;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 2px;
}

#HoldDeliveryDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  display: none;
}

#HoldDeliveryDiv div {
  background: white;
  padding: 25px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

#HoldDeliveryDiv h1 {
  font-size: 30px;
  color: black;
  font-weight: 500;
  margin-top: 0px;
  color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

input:checked+.slider {
  background-color: black;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#EmptyOuterDiv {
  height: 100%;
  width: 100%;
  background: white;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
}

.Empty i {
  font-size: 150px;
  display: block;
  padding-bottom: 10px;
}

.Empty {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 500;
  color: lightgray;
  margin-top: 50px;
  max-width: 80%;
}

.Empty small {
  font-size: 15px;
  display: block;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10px;
}

#MessagesInputDiv {
  z-index: 1;
  background: rgb(240, 240, 240);
  overflow: hidden;
  text-align: center;
  padding-bottom: 25px;
}

#MessageInput {
  max-height: 150px;
  min-height: 10px;
  font-size: 15px;
  height: 35px;
  border: none;
  border-radius: 3px;
  padding: 0;
  padding-top: 7px;
  padding-left: 20px;
  border-radius: 25px;
  float: left;
  width: calc(100% - 70px);
  max-width: none;
  margin: 7px;
  margin-left: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#MessageSendButton {
  background: #FFC107;
  height: 35px;
  width: 35px;
  text-align: center;
  color: white;
  border-radius: 50%;
  line-height: 35px;
  font-size: 20px;
  margin-top: 8px;
  margin-left: -10px;
  cursor: pointer;
  transition: all 0.2s;
}

#MessageSendButton:hover,
#MessageSendButton:active {
  font-size: 23px;
}

#MessageListDiv {
  padding-top: 50px;
  height: calc(100% - 150px);
  overflow-x: hidden;
  padding-bottom: 50px;
  transition: height 0.3s;
}

.MessageItemWasher {
  float: right;
  max-width: 70%;
  width: auto;
  min-width: 130px;
  display: block;
  padding: 25px;
  padding-bottom: 17px;
  background: #FFC107;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  margin-right: 15px;
  border-bottom-right-radius: 0px;
  text-align: left;
  position: relative;
}

.MessageItemWasher label {
  position: absolute;
  font-size: 9px;
  top: 2px;
  font-weight: 400;
  right: 13px;
  color: white;
}

.MessageItemCustomer {
  float: left;
  width: 70%;
  display: block;
  padding: 17px;
  background: rgb(220, 220, 220);
  color: black;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 15px;
  border-top-left-radius: 0px;
  text-align: left;
  position: relative;
}

.MessageItemCustomer label {
  position: absolute;
  font-size: 9px;
  top: 1px;
  font-weight: 400;
  right: 13px;
  color: dimgray;
}

.MessageBreak {
  display: block;
  height: 25px;
  width: 100%;
  clear: both;
}

.MessageItemApp {
  width: 80%;
  display: block;
  padding: 20px;
  background: white;
  color: black;
  font-size: 18px;
  font-weight: 400;
  border-radius: 15px;
  text-align: justify;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.MessageItemApp label {
  position: absolute;
  font-size: 10px;
  top: 0px;
  font-weight: 400;
  right: 10px;
  color: dimgray;
}

#SettingsTitle {
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  border-bottom: solid 1px lightgray;
  position: relative;
}

#SettingsTitle span {
  background: rgb(247, 247, 247);
  display: inline-block;
  padding: 10px;
  color: dimgray;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: -18px;
  text-transform: uppercase;
}

#ChangePasswordButton {
  margin-bottom: 15px;
  border: none;
  font-size: 14px;
  color: dimgray;
  font-weight: 500;
  height: 40px;
  width: 85%;
  transition: all 0.2s;
  border-left: solid 3px #666666;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
}

#SettingsInnerDiv .InputDiv input::-webkit-input-placeholder {
  color: dimgray;
}

#SettingsInnerDiv .InputDiv i {
  color: #666666;
}

#SettingsInnerDiv #SignupPhotoButton {
  color: dimgray;
}

#SaveSettingsButton {
  background: black;
  margin-top: -30px;
  margin-bottom: 50px;
}

#SettingsInnerDiv {
  padding-top: 40px;
  padding-bottom: 80px;
}

#SettingsButtonBackground {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(253, 37, 215, 0), rgba(253, 37, 215, 0.4));
  background: white;
  pointer-events: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

#SettingsInnerDiv select {
  background: #fd25d7;
  color: white;
}

#SettingsInnerDiv .ChooseUpdateButton {
  background: #fee9fb;
  color: #4b0b40;
}

#SettingsInnerDiv .ChooseUpdateButtonSelected {
  color: #4b0b40;
  background: white;
}

#SettingsInnerDiv .InputDiv input {
  background: white;
  color: black;
  border-left-color: dimgray;
}

#SettingsInnerDiv .InputDiv input:focus {
  border-left-color: black;
}

#SettingsInnerDiv textarea {
  border-left-color: #fed3f7;
}

#SettingsInnerDiv textarea:focus {
  border-left-color: #fd25d7;
}

#SettingsPaymentDiv {
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  padding: 8px;
}

#SettingsPaymentDiv i {
  font-size: 25px;
  display: block;
  float: left;
  color: #4b0b40;
}

#SettingsPaymentDiv b {
  font-size: 14px;
  color: #4b0b40;
  display: block;
  float: left;
  font-weight: 500;
  padding-left: 8px;
  padding-top: 3px;
}

#SettingsPaymentDiv button {
  width: 80px;
  font-size: 13px;
  letter-spacing: 1px;
  height: 25px;
  padding-top: 3px;
  float: right;
  color: #4b0b40;
  background: #fed3f7;
  font-weight: 500;
}

.SettingDrawMap {
  height: 250px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border: solid 5px white;
  margin-bottom: 20px;
}

#EnterWorkAreaNumDiv {
  width: 260px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#EnterWorkAreaNumDiv label {
  font-size: 15px;
  color: dimgray;
}

#EnterWorkAreaNumDiv input {
  width: 50px;
  text-align: center;
  border: none;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 5px 0px;
  font-size: 15px;
  border-radius: 3px;
}

.SettingPayOptionDiv {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: white
}

#SettingPayOptionOuterDiv {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.SettingPayOptionDiv .Selected {
  color: black !important;
  border-bottom-color: black !important;
}

#SettingsPayOptionPreview {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  text-align: center;
  font-size: 22px;
  width: 100%;
  color: black;
  font-weight: 300;
  margin-top: 35px;
}

#SettingsPayOptionPreview span {
  display: block;
}

#SettingsPayOptionPreview label {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  background: white;
  padding: 5px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-top: 10px;
  color: dimgray;
}

#SettingPayOptionOuterDiv .Blur {
  -webkit-filter: blur(7px);
}

#SettingsMapOuterDiv {
  position: relative;
}

#SettingsMapOuterDiv .Blur {
  -webkit-filter: blur(2px);
}

.SettingDrawMap {
  pointer-events: none;
}

#SettingsMapOuterDiv button {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 40px;
  background: white;
  color: dimgray;
  left: calc(50% - 75px);
  top: 110px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#SettingsPhotoPreviewImg {
  height: 50px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  float: left;
  position: absolute;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#SettingsPayOptionDiv {
  width: 100%;
  overflow: hidden;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-top: solid 1px rgb(240, 240, 240);
}

#SettingsPayOptionDiv h1 {
  font-size: 13px;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  height: 37px;
  line-height: 40px;
  border-bottom: solid;
  margin: 0;
  border-color: white;
  color: gray;
  letter-spacing: 1px;
  cursor: pointer;
}

#SettingsPayOptionDiv .Selected {
  color: #25d7fd;
  border-bottom-color: #25d7fd;
  cursor: default;
}

#SettingsPayDCDiv {
  margin-bottom: 30px;
  margin-top: 30px;
}

#SettingsPayBADiv {
  margin-bottom: 30px;
  margin-top: 30px;
  display: none;
}

.LargeLinks {
  font-size: 17px;
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  width: 80%;
  display: block;
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

.LargeLinks i {
  font-size: 15px;
  position: relative;
  top: 2px;
  right: 10px;
  background: #232323;
  color: white;
  border-radius: 50%;
  padding: 6px;
  border: solid 4px #434343;
}

.LargeLinks:hover,
.LargeLinks:active {
  color: #232323;
}

#HelpTitle {
  font-size: 35px;
  margin-top: 80px;
  letter-spacing: 0px;
  margin-bottom: 40px;
  color: #232323
}

#ContactTextArea {
  border-left-color: lightgray;
}

#ContactTextArea:focus {
  border-left-color: #232323;
}

#ContactButton {
  background: #232323;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: calc(95% - 45px);
  margin: 0 auto;
  max-width: 370px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.OrderFormLabel {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding-bottom: 9px;
  margin-top: 30px;
  font-weight: 500;
  color: dimgray;
  padding-left: 35px;
  max-width: 400px;
  font-size: 15px;
}

.OrderFormLabel i {
  font-size: 16px;
  color: #25D7FD;
  position: relative;
  top: 2px;
  left: 5px;
  cursor: pointer;
}

#card-errors2 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
  color: orangered;
  font-size: 13px;
}

#card-errors3 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
  color: orangered;
  font-size: 13px;
}

.PullDownTextBox {
  height: 30px;
  width: 160px;
  font-size: 17px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-top: 10px;
  display: none;
  border-left: solid 3px #dff7fe;
}

.PullDownTextBox::-webkit-input-placeholder {
  color: darkgray;
}

#FAQDiv {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

.FAQItemDiv {
  background: #f8f8f8;
  overflow: hidden;
  cursor: pointer;
  border-bottom: solid 1px #efefef;
}

.FAQItemDiv h1 {
  font-size: 15px;
  color: black;
  color: black;
  padding: 10px 15px;
  margin: 0;
  line-height: 130%;
  font-weight: 500;
  text-align: left;
}

.FAQItemDiv p {
  padding: 15px;
  background: white;
  font-size: 12px;
  font-weight: 500;
  display: none;
}

.FAQItemOpen p {
  display: block;
}

#FAQTitle {
  margin: 15px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
}

.HIWPPListItem {
  position: relative;
  margin-bottom: 25px;
}

.HIWPPListItem span {
  height: 40px;
  display: block;
  width: 40px;
  background: #25fdb7;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
  border: solid 4px rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  float: left;
  margin-right: 10px;
}

.HIWPPListItem h2 {
  margin-top: 0px;
  text-align: left;
  line-height: 50px;
  font-size: 25px;
  font-weight: 500;
}

.HIWPPListItem h3 {
  display: block;
  clear: both;
  padding-left: 85px;
  font-size: 13px;
  padding-right: 20px;
  font-weight: 400;
  color: dimgray;
  text-align: left;
  line-height: 130%;
}

@media only screen and (max-width:300px) {
  #HelpTitle {
    font-size: 30px;
  }
}

#GetOrdersHTMLDiv {
  padding-bottom: 60px;
  padding-top: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  background: rgb(250,250,250);
}
#GetOrdersMap {
  height: calc(100% - 50px);
  width: 100%;
  background: white;
  margin: 0 auto;
  margin-top: 45px;
  overflow: hidden;
}
#GetOrdersTabDiv {
  background: white;
  width: 170px;
  height: 30px;
  position: absolute;
  left: calc(50% - 85px);
  top: 60px;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: #25D7FD;
  overflow: hidden;
  border: solid 1px #25D7FD;
}
#GetOrdersTabDiv span {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 13px;

}
#GetOrdersTabDiv .Active {
  background: #25D7FD;
  color: white;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#NoOrdersPopupButton {
  width: 90px;
  height: 20px;
  font-size: 10px;
  border:solid 1px rgb(175, 175, 175);
  background: none;
  letter-spacing: 1px;
  color: white;
  margin-top: 10px;
  font-weight: 400;
  color: rgb(175, 175, 175);
 }
 
 #GetOrdersLoading {
  text-align: center;
  display: block;
  font-size: 22px;
  font-weight: 300;
  color: rgb(175, 175, 175);
  letter-spacing: 1px;
  padding-top: 15px;
}

#OH-HTMLDiv {
  padding-top: 50px;
}

.OH-Item {
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 25px;
}

.OH-Item i {
  font-size: 20px;
  padding: 1px;
  position: relative;
  bottom: -5px;
}

.OH-Item label {
  text-align: center;
  display: block;
  background: #b11996;
  color: rgba(255, 255, 255, 0.81);
  font-size: 12px;
  padding: 4px;
}

.OH-Item h1 {
  font-size: 30px;
  text-align: left;
  color: #4b0b40;
  font-weight: 300;
  padding-left: 15px;
  padding-top: 10px;
  margin: 0 0;
  text-overflow: ellipsis;
  width: 155px;
  overflow: hidden;
  float: left;
}

.OH-Item small {
  display: block;
  font-size: 12px;
  padding-left: 7px;
  color: rgba(75, 11, 64, 0.4);
  letter-spacing: 1px;
  font-weight: 400;
}

.OH-Item-MoneyDiv {
  border-radius: 50px;
  float: right;
  padding: 7px 15px;
  font-size: 25px;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background: #b11996;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 16px;
}

.OH-Item-MoneyDiv sup {
  font-size: 12px;
  letter-spacing: 0px;
}

.OH-Item h6 {
  display: block;
  clear: both;
  padding-top: 15px;
  width: 90%;
  margin: 0 auto;
  color: dimgray;
  font-weight: 400;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 150%;
}

.OH-Item span {
  font-weight: 600;
  color: black;
  letter-spacing: 1px;
}

#MoneyTopDiv {
  background: #21e3a4;
  height: 260px;
  overflow: hidden;
}

#MoneyPendingNotice {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  display: none;
  opacity: 1;
  letter-spacing: 1px;
  margin-bottom: -60px;
  margin-top: 45px;
  padding: 5px;
  width: auto;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

#MoneyBalence {
  color: white;
  font-size: 65px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom: 0px;
}

#MoneyBalence sup {
  font-size: 29px;
  letter-spacing: 2px;
}

#MoneyTopDiv label {
  display: block;
  text-align: center;
  margin-top: 0px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#MoneyGetPaidButton {
  background: white;
  color: #21e3a4;
  width: 200px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-right: 15px;
  box-sizing: border-box;
  opacity: 0.5;
}

#MoneyGetPaidButton i {
  line-height: 20px;
  font-size: 20px;
  padding-right: 10px;
}

#PayoutInfoButton {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 11px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 4px;
}

#PayoutInfoButton i {
  font-size: 15px;
  position: relative;
  top: 3px;
  padding-left: 5px;
}

#PayoutTitle {
  font-size: 45px;
  font-weight: 200;
  color: #21e3a4;
  margin: 0;
  margin-bottom: 5px;
}

#PayoutSubtitle {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: dimgray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#PayoutButton {
  max-width: 500px;
  width: 100%;
  border-radius: 0px;
}

#PayoutFee {}

#MoneyListDiv {
  background: rgb(250, 250, 250);
  width: 90%;
  margin: 0 auto;
  margin-top: -25px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 10px 0;
  overflow: hidden;
  padding-top: 15px;
  min-height: calc(100% - 250px);
}

.MoneyListItem {
  width: 95%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  border-radius: 3px;
  overflow: hidden;
  height: 55px;
  margin-bottom: 15px;
  position: relative;
  background: white;
}

.MoneyListItem h1 {
  float: left;
  height: 100%;
  margin: 0;
  width: 45px;
  font-size: 25px;
  color: gray;
  text-align: center;
  font-weight: 400;
  border-right: solid 1px lightgray;
  line-height: 125%;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.MoneyListItem h1 small {
  display: block;
  font-size: 10px;
  line-height: 100%;
  font-weight: 400;
}

.MoneyListItem h2 small {
  font-size: 11px;
  font-weight: 400;
  color: gray;
  position: relative;
  top: -20px;
  display: block;
  padding-left: 5px;
  letter-spacing: 0.5px;
}

.MoneyListItem h2 {
  float: left;
  margin: 0;
  line-height: 43px;
  font-size: 25px;
  color: black;
  width: calc(100% - 150px);
  text-align: left;
  padding-left: 15px;
  font-weight: 300;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}

.MoneyListItem h3 {
  width: 85px;
  height: 45px;
  margin: 0;
  border-radius: 3px;
  font-size: 18px;
  color: #21e3a4;
  margin-top: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: right;
  position: absolute;
  right: 7;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
}

.MoneyListItem sup {
  font-size: 10px;
  letter-spacing: 0px;
  position: relative;
  top: 2px;
}

.MoneyListItem label {
  text-transform: uppercase;
  display: block;
  font-size: 10px;
  letter-spacing: 0px;
  position: absolute;
  bottom: 4;
  left: 0;
  right: 0;
}

.MoneyListItem i {
  font-size: 13px;
  position: relative;
  top: 3px;
  right: 3px;
}

.MoneyListItemPayout {
  box-shadow: none;
  background: none;
  text-align: center;
  color: dimgray;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.MoneyListItemPayout small {
  letter-spacing: 0px;
}

#MoneyListLoader {
  font-size: 30px;
  font-weight: 300;
  color: lightgray;
}

#SuppliesSectionDiv {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px lightgray;
  margin-bottom: 40px;
  margin-top: 20px;
}

#SuppliesSectionDiv span {
  display: inline-block;
  background: rgb(247, 247, 247);
  padding: 5px 10px;
  margin-bottom: -25px;
  color: dimgray;
  letter-spacing: 1px;
}

#SuppliesSectionDiv b {
  display: block;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 2px;
  color: gray;
}

#SuppliesInnerDiv {
  text-align: center;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 50px;
}

#SuppliesInnerDiv ul {
  text-align: left;
  font-size: 12px;
  width: 200px;
  margin: 15px auto;
}

.SuppliesItem {
  display: inline-block;
  width: 130px;
  overflow: hidden;
  height: 170px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: white;
  margin: 5px 5px;
  padding: 10px;
  padding-bottom: 0px;
  text-decoration: none;
}

.SuppliesItemImg {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.SuppliesItem label {
  font-size: 11px;
  color: black;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 5px;
  letter-spacing: 0px;
}

.SuppliesItem small {
  font-size: 15px;
  display: block;
  margin-top: 5px;
  color: dimgray;
  float: left;
  padding-left: 5px;
  margin-top: 10px;
  letter-spacing: 0px;
  display: none;
}

.SuppliesItemLogoImg {
  height: 40px;
  width: 65px;
  object-fit: contain;
}

#SuppliesRecommededNotice {
  font-size: 10px;
  font-weight: 400;
  color: gray;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  line-height: 140%;
  margin-bottom: -5px;
  max-width: 300px;
}

#TabsDiv {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 65px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  height: 30px;
}

#TabsDiv .Selected {
  background: #ffc107;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.TabItem {
  width: 50%;
  text-align: center;
  float: left;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  transition: all 0.2s;
}

.TabItem i {
  font-size: 17px;
  position: relative;
  top: 4px;
  padding-right: 5px;
}

#ImproveInnerDiv {
  display: none;
  text-align: center;
  padding-top: 10px;
}

.ImproveItemDiv {
  cursor: pointer;
  max-width: 400px;
  width: 85%;
  padding: 8px;
  border-radius: 3px;
  margin: 20px auto;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-left: solid 3px #ffc107;
}

.ImproveItemDiv i {
  font-size: 20px;
  float: left;
  color: white;
  padding-left: 5px;
  color: #ffc107;
  line-height: 25px;
}

.ImproveItemDiv h1 {
  float: left;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  color: black;
  font-weight: 400;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 40px);
  text-align: left;
}

#ArticleTitle {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 85%;
  color: dimgray;
}

#ArticleBody {
  text-align: justify;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  padding-bottom: 20px;
  max-width: 400px;
}

#ArticleBody a {
  color: black;
}

#ArticleBody li {
  text-align: left;
}